.select-wallet {
    height: rem-calc(80px);
    margin: 0 auto;
    background: $white;
    box-shadow: rem-calc(0 3.5px 5.5px) rgba(0, 0, 0, 0.02);
    border-radius: rem-calc(15px);
    display: flex;
    align-items: center;
    padding-left: rem-calc(28px);

    &__icon {
        cursor: pointer;
        color: $dark-grey;
        font-size: rem-calc(40px);
        line-height: 0;
        margin-right: rem-calc(19px);
    }

    &__item {
        margin-right: rem-calc(28px);

        &:last-child {
            margin-right: 0;
        }
    }
}
