.table-menu {
    &__wrapper {
        display: flex;
        box-sizing: border-box;
        padding-top: rem-calc(24px);
        justify-content: space-between;
        height: rem-calc(99px);
    }

    &__item {
        height: rem-calc(34px);
        border-radius: rem-calc(8px);

        &--active {
            border: rem-calc(1px) solid $black;
        }
    }

    &__left {
        display: grid;
        /*stylelint-disable*/
        // grid-template-columns: repeat(
        //     5,
        //     minmax(rem-calc(111px), rem-calc(130px))
        // );
        grid-template-columns: rem-calc(110px 110px 115px 135px 115px);
        /*stylelint-enable*/
        grid-column-gap: rem-calc(22px);
    }

    &__right {
        display: flex;
        position: relative;
    }

    &__searchbar {
        width: rem-calc(237px);
    }

    &__currency-filter {
        margin: rem-calc(0 22px);
    }

    &__filters {
        display: grid;
        /*stylelint-disable*/
        grid-template-columns: rem-calc(
            111px 111px 111px 111px 111px 185px 30px
        );
        grid-column-gap: rem-calc(22px);
        padding-bottom: rem-calc(24px);
        margin-top: rem-calc(-20px);
    }

    &__table-filter {
        width: rem-calc(290px);
    }

    &__icon {
        &--filter {
            cursor: pointer;
            background: url(/images/icons/clear-filters.svg) no-repeat center;
            background-size: contain;
        }
    }
}
